{# Automatically extends the right outer layout and also handles AJAX siutations #}
{% extends data.outerLayout %}

{% block title %}
  {# Create a useful, SEO-friendly title tag based on what we have #}
  {% if data.piece %}
    {{ data.piece.title }}
  {% elseif data.page %}
    {{ data.page.title }}
  {% else %}
    {{ apos.log('Looks like you forgot to override the title block in a template that does not have access to an Apostrophe page or piece.') }}
  {% endif %}
{% endblock %}

{% block extraHead %}
  {#
    This block outputs its contents in the HTML document's <head>.
    It is a good place to put extra <script> <link> and <meta> tags.
  #}
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
{% endblock %}

{% block beforeMain %}
  {#
    We recommend you use the beforeMain block for global page components
    like headers or navigation.
  #}
  <nav class="navbar  navbar-fixed-top myNav justify-content-end" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">
          <img src="./img/iconos/Success4_Logo.png">
        </a>
      </div>
      <div class="collapse navbar-collapse " id="navbar">
        <ul class="nav navbar-nav navbar-right nav-items">
          {% for tab in data.home._children %}
            <li><a href="{{ tab._url }}" class="nav-link">{{ tab.title }}</a>
              {% if tab._children.length %}
                <ul>
                  {% for child in tab._children %}
                    <li><a href="{{ child._url }}">{{ child.title }}</a></li>
                  {% endfor %}
                </ul>
              {% endif %}
            </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </nav>
{% endblock %}

{% block main %}
  {#
    Usually, your page templates in the apostrophe-pages module will override
    this block. It is safe to assume this is where your page-specific content
    should go.
  #}
{% endblock %}

{% block afterMain %}
  {#
    This would be a great place to put a global footer.
  #}
  <footer>
    <div class="container-fluid"> 
      <div class="row">
        <div class="col-md-6 col-sm-12 col-izq-footer">
          <div class="contenido-izq">
            <h2>Understand</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil asperiores excepturi amet esse. Quo doloremque esse deleniti quasi dolorem sint.</p>
            <div class="social-links">
              <ul class="social-items">
                {% for tab in data.home._children %}
                  <li><a href="{{ tab._url }}">{{ tab.title }}</a></li>
                {% endfor %}
                {% if not data.user %}
                  <li> <a class="login-link" href="/login">Login</a> </li>
                {% endif %}
              </ul>
            </div>

          <div class="social-iconos">
            <ul>
              <li>
                <a href="">
                  <div class="icono-footer circulo-social">
                    <i class="fab fa-facebook-f fa-2x"></i>
                  </div>
                </a>
              </li>
              <li>
                <a href="https://twitter.com/success4inc">
                  <div class="icono-footer circulo-social">
                    <i class="fab fa-twitter fa-2x"></i>
                  </div>
                </a>
              </li>
              <li>
                <a href="">
                  <div class="icono-footer circulo-social">
                    <i class="fab fa-instagram fa-2x"></i>
                  </div>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div class="col-md-6 col-sm-12 col-derec-footer">
        <div class="formulario" id="demoContact">
          <div class="form-titulo">
            <h3>Wanna use it</h3>
            <h3>for your bussiness?</h3>
            <p>Let's us show you how great we are.</p>
          </div>
          <form>
            <div class="form-group">
              <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Full name">
            </div>
            <div class="form-group">
              <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email">
            </div>
            <div class="form-group">
              <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Phone number">
            </div>
            <div class="form-group">
              <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Select product">
            </div>
            <button type="submit" class="btn btn-block  btn-form">
              CONTACT ME
              <i class="fas fa-arrow-right"></i>
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>

</footer>

{% endblock %}
