.text-justify{
  /*font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;*/
  letter-spacing: .01rem;
  font-weight: 400;
  font-style: normal;
  font-size: 15px;
  line-height: 1.58;
  letter-spacing: -.003em;
}

.whyelement .text-justify{
      padding-right: 80px;
}

.row-why{
  margin-bottom: 40px!important;
}
.row-why hr{
border: 0.5px solid #d0c8c2;
margin-top: 20px;

}

.row-why .thumbnail{
border: none!important;
}

.row-why .thumbnail img{
min-height: 150px!important;
}

.related-articles .text-justify{
font-size: 13px;
line-height: 1.58;
letter-spacing: -.003em;
}
/* -- HEADER -- */
.navbar {
margin-bottom: 0;
}

.jumbotron {
background:#428BCA;
background-image:url("../img/photo1.jpg");
background-size: cover;
background-position: center;
color:#fff;
padding:100px 0;
margin-top: 93px;
}

.jumbotron h1 {
text-align: center!important;
}

/* -- POST -- */
.main {
margin-top: 20px;
margin-bottom: 20px;
}

.post {
padding-bottom:20px;
margin-bottom:20px;
border-bottom:1px solid #999;
}

.post .post-title a {
color:#333;
font-size: 35px;
}

.title-relateds{
font-size: 16px;
font-weight: 700!important;
text-align: center;
/* text-decoration: underline; */
}

.post .thumb {
margin-right:10px;
width:100%;
}

.post .thumb img {
width:100%;
margin-bottom: 40px;
}

.post .contenedor-botones {
width: 100%;
}

.footer-articulo{
width: 100%;
padding-top: 20px;
}

.footer-articulo p,span{
display: inline-block;
}
.footer-articulo span{
float: right;
}

/*.related-articles{
display: inline-block;
}*/
.center-image{
text-align: center;
} 

.center-image a{
text-align: center;
width: 100%;
} 

p.post-col{
/*display: inline-block;*/
padding-left: 5px;
}
.pos-col-text{
display: inline-block;
} 

.row-limit-padding{
padding-left: 5px!important;
padding-right: 5px!important;
}

.row-zero-padding{

padding-right: 0px!important;
}

.article-col{
margin-top: 30px!important;
margin-bottom: 20px!important;
}

.caja-respuesta h2{
padding-bottom: 40px;
}
.caja-respuesta{
margin-top: 40px;
margin-bottom: 80px;
}
.heigth-input{
height: 45px!important;
}

.label-success-four{
margin-bottom: 15px!important;
font-size: 15px!important;
}

/*btn*/
.btn-suc-four{
color: #fff;
-webkit-border-radius: 25px;
-moz-border-radius: 25px;
border-radius: 25px;
padding-left: 15px!important;
padding-right: 15px!important;
 transition: all 1s linear 0s; 
}

.btn-suc-four:hover{
color: #fff;
padding-left: 20px!important;
padding-right: 20px!important;
}

.btn-suc-orange{
    background: #f56000;
}

/* -- Media Querie -- */
@media screen and (max-width: 768px) {
.post .thumb {
width: 100%;
margin-bottom: 20px;
margin-right: 0;
}
.whyelement .text-justify{
  padding-right: 0px;
  text-align: center;
}

.jumbotron h1 {
text-align: center!important;
font-size: 30px!important;
}

}
