@import "utils/reset.less";

// Delete the boilerplate CSS below when you are ready to dive in and customize your sites:
body { background-color: @apos-light; }

.main-content {
  font-family: 'Karla', sans-serif;
  margin: 200px auto;
  padding: 20px;
  max-width: 500px;
  color: @apos-white;
  background-color: @apos-primary;
  .apos-drop-shadow;

  .login-link {
    float: right;
    color: @apos-white;
  }

  // Basic rich-text editor styles:
  h3 {
    font-size: 24px;
    margin-bottom: 12px;
  }

  h4 {
    font-size: 20px;
    margin-bottom: 10px;
  }

  strong { font-weight: bold; }
  em { font-style: italic; }
}

.two-column-area {
  float: left;
  width: 50%; 
}

.three-column-area {
  float: left;
  width: 33.33333%;
}

.two-row-area {
  float: left;
  width: 50%; 
}

.three-row-area {
  float: left;
  width: 33.33333%;
}