*{
  box-sizing: border-box;
}
body{
  margin:0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size:1rem;
  font-weight:normal;
  line-height:1.5;
  color:#333;
  overflow-x:hidden;
}

/* Hidden title on images */
.apos-slideshow h4 {
  display: none;
}
 
 /*---navbar ---*/
.myNav{
    z-index: 4;
    height: 93px;
    background-color: rgb(59,55,87)!important;
    opacity: 0.60;
}

.navbar{
  background-color: transparent;
  background: transparent;
  border-color: transparent;
}
.nav a{
  color: #fff;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 13px;
  text-transform: uppercase;
}


.collapse>ul>li{
    padding-top: 16px;
    display: inline-block;
    padding-left: 14px!important;
}
.navbar-header a.navbar-brand{
 padding-top: 31px!important;
}

.icon-bar {
  background-color: #fff!important;
}

.active{
  border-top: 1px solid #fff;
}

.nav-link{
  border-top: 1px solid none;
}
.nav-link:hover{
  /*border-top: 4px solid white;*/
  /*color: #f56000;*/
  color: orange;
  background-color: transparent!important;
  transition: border-top .3s;
  border-top: 1px solid #fff;
  font-weight:700!important;

}
.nav-link:active{
    background-color: transparent!important;
}

.nav-link:focus{
    background-color: transparent!important;
  }



.btn-demo{
    width: auto;
    height: auto;
    /* background: #00b1ec; */
    color: #fff!important;
    border: 2px solid #fff;
    border-radius: 25px;
    /* padding: 9px!important; */
    padding-top: 5px!important;
    padding-bottom: 5px!important;
    padding-left: 28px!important;
    padding-right: 28px!important;
    margin-top: 8px!important;
}

.btn-demo:hover{
   background: #00b1ec!important;
}



.v-header{
  height:540px;
  display:flex;
  align-items:center;
  color:#fff;
}

.container-c{
    /* max-width: 960px; */
    /* padding-left: 1rem; */
    /* padding-right: 1rem; */
    margin: auto;
    text-align: center;
}
.fullscreen-video-wrap{
  position:absolute;
  top:0;
  left:0;
  width:100%;
  /*height:100vh;*/
  height:540px;
  overflow:hidden;
}
.fullscreen-video-wrap video{
/*  min-height:500px;
  min-width:100%;*/
    position: absolute; 
    right: 0; 
    bottom: 0; 
    min-width: 100%; 
    min-height: 100%; 
    width: auto; 
    height: auto; 
    z-index: -100; 
    background-size: cover; 
    overflow: hidden; 
}

.header-overlay{
  /*height:100vh;*/
  height:540px;
  position: absolute;
  top:0;
  left:0;
  width:100vw;
  z-index:1;
  background:#225470;
  opacity:0.85;
}
.header-content{
    /* padding-right: 20%; */
    z-index: 2;
    /* padding-left: 20%; */
    margin: auto;
    padding-top: 6%;
}

.header-content h1{
    font-family: 'Open Sans', sans-serif;
    /*font-weight: 700;*/
    font-size: 50px;
    margin-bottom: 0;
    margin-left: 20px;
    margin-right: 20px;
    text-align: center;
}
.header-content p{
    font-size: 1.8rem;
    display: block;
    padding-bottom: 2rem;
    font-family: 'Open Sans', sans-serif;
    margin-top: 5px;
    font-size:1.5rem;
    display:block;
    padding-bottom:2rem;
}



.btn-try{
    background: #f56000;
    color: #fff;
    font-size: 20px;
    width: 226px;
    height: 60px;
    color: white;
    line-height: 47px;
    border-radius: 50px;

}
.btn-try:hover{
  color: white;
}



.section{
  padding:20px 0;
}

.section-b{
  background:#fff;

}

@media(max-width:960px){
  .container{
    padding-right:3rem;
    padding-left:3rem;
  }
}


#particles-js{ 
  position:absolute; 
  width: 100%; 
  height: 540px; 
  /*height: 100%; */
  /*background-color: #b61924; */
  /*background-image: url(""); */
  background-repeat: no-repeat; 
  background-size: cover; 
  background-position: 50% 50%;
  z-index: 2;
   }


.container-c h2{
text-align: center;
    color: #45a1e1;
    padding-top: 20px;
    padding-bottom: 15px;
}

.subtitulo{
  color: #0094c0;
   font-size: 25px;
   margin-bottom: 5px;
   text-align: center;
}

.space-a .row {
 padding-top: 25px;
    margin-bottom: 45px;

}
/*iconos*/
.icono{
    text-align: center;
}
.circulo{
    border-radius: 50%;
    height: 60px;
    width: 60px;
    border: 4px solid #36a9e1;
    /* color: #36a9e1; */
    line-height: 40px;
    text-align: center;
    /* font-size: 20px; */
    margin: 0 auto 30px auto;
}



.list-customer{
    list-style-type: square;
    margin-top: 20px;
    position: relative;
    bottom: 20px;
    padding-left: 40%;
    /* font-size: 15px; */
    font-size: 18px;
    color: #a8a8a8;
    font-weight: 400!important;
    }

.stages{

}



.description{
    padding-left: 20%;
    padding-right: 20%;
    font-weight: 400!important;
    line-height: 1.8;
    display: block;
    text-align: center;
    font-size: 18px;
    color: #a8a8a8;
    margin-bottom: 30px;
}


/*parallax*/

.pimg1, .pimg2, .pimg3{
  position:relative;
  opacity:0.70;
  background-position:center;
  background-size:cover;
  background-repeat:no-repeat;

  background-attachment:fixed;
      margin-bottom: -20px;
}

.pimg2{
  /*background-image:url('../img/hand-hi.jpg');*/
  min-height:400px;
  background-image: linear-gradient(to right, rgba(0,11,63,0.8), rgba(0,11,63,0.8) 5%) ,url("../img/hand-hi_opt.jpg");

}

.ptext{
  position:absolute;
  /*top:50%;*/
  top:15%;
  width:100%;
  text-align:center;
  color:#000;
  font-size:27px;
  letter-spacing:8px;
  text-transform:uppercase;
}

.pimg2-subtitle{
  padding-top: 40px;
}
#pimg2-sub-desc-1{
  color:#d0c8c2;
}

#pimg2-sub-desc-2{
  color:#00b1ec;
}

#pimg2-sub-desc-3{
  color:#dcc0a0;
}

.pimg2-desc{
  font-size: 10px;
  color: #fff;
}

.ptext .border.trans{
  background-color:transparent;
}

.ptext .border{
  background-color:#111;
  color:#fff;
  padding:20px;
}


/*section cuadros*/
.cuadro{
height: 400px;
/*background: #11ee1e;*/
}

.cuadro-1{
  background-image: linear-gradient(to right, rgba(0,11,63,0.5),  rgba(59,156,191,0.5) 5%) ,url("../img/c1.jpeg");
  background-size: cover;
  background-position: center;
}

.cuadro-2{
  background-image: linear-gradient(to right, rgba(0,11,63,0.5), rgb(197,112,41, 0.5)  5%) ,url("../img/c2_opt.jpg");
  background-size: cover;
  background-position: center;
}

.cuadro-3{
  background-image: linear-gradient(to right, rgba(0,11,63,0.5), rgb(207,197,191, 0.5) 5%) ,url("../img/c4.jpeg");
  background-size: cover;
  background-position: center;
}

.cuadro-4{
  background-image: linear-gradient(to right, rgba(0,11,63,0.5), rgb(14,89,111, 0.8) 5%) ,url("../img/c3_opt.jpg");
  background-size: cover;
  background-position: center;
}

.cuadro h2{
  /*font-size: 50px;*/
  font-size: 30px;
  color: #fff;
  text-align: left;
  padding-left: 10%;
  /*padding-top: 26%;*/
  padding-top: 6%;
  padding-bottom: 0px;
}

.cuadro p{
  color: #fff;
  text-align: left;
  padding-left: 10%;
  font-size: 16px;
  /*font-size: 15px;*/
    
}

.cuadro-1 h2{
  color: rgb(197,112,41);
}

.cuadro-2 h2{
  color: #fff;
}


.cuadro-3 h2{
      color: rgb(66, 185, 218);
}

.cuadro-4 h2{
  color:  rgb(245,96,0);
}

.btn-form{
  background: #f56000;
  color: #fff;
  padding: 10px 12px!important;
  text-align: left!important;
}

.btn-form i{
  padding-left: 0px;
}

.separador{
  width:5%;
  background: #00b1ec;
  height:5px;
  margin-top: 0px;
  margin-left: 50%;
}
.ptext .separador{
  background: #fff;
}
/*iconos*/
.icono-su{
    display: block;
    width: auto;
    height: auto;
    line-height: 40px;
    text-align: center;
    display: inline-block;  
}

.icono-1{
    background: url(../img/iconos/idea.png) no-repeat;
} 
.icono-2{
    background: url(../img/iconos/agreement.png) no-repeat;
}
.icono-3{
    background: url(../img/iconos/videocall.png) no-repeat;
}
.icono-4{
    background: url(../img/iconos/analytics.png) no-repeat;
}

.centrar-todo{
  text-align: center;
}

/*modal*/
.close-modal{
  height: 20px;
  width: 20px;
  background:#b8b8b8;
  color: #fff;
}

.btn-form-modal{

    
    font-size: 19px;
    width: 100px;
    height: 50px;
    color: white;
    line-height: 47px;
    border-radius: 50px;
    padding: 0px!important ;
    text-align: center;

}

.btn-send{
  color: #fff;
      background: #f56000;
}

.btn-cancele{
    background: transparent;
    color:  #00b1ec;
    border: 1px solid  #00b1ec;
}



/* footer */
footer{
  background-color: rgb(0,65,81);
  min-height: 350px;
  font-family: 'Open Sans', sans-serif;
  padding-top: 0px;
  margin-top: -20px;
}
.col-derec-footer{
     background-color: rgb(0,80,110);
}
.col-izq-footer{
   background-color: rgb(0,65,81);
/*   height: 603px;*/
}

.formulario{
    background-color: rgb(0,80,110);
    margin: 10%;
    padding: 10%;

}

.form-titulo{
  text-align: center;
}

.form-titulo h3{
    color:#00b1ec;
    padding-top: 10px;
    text-align: left;
    padding-bottom: -18px;
    margin-bottom: 0px;
    margin-top: 0px;

}

.form-titulo p{
  color: #fff;
  text-align: left;
  padding-bottom: 10px;
  padding-top: 10px;
}

.contenido-izq{
    height: 200px;
    margin-top: 30%;
    margin-left: 10%;
}


.contenido-izq h2{
  color: #00b1ec;
}
.contenido-izq p{
  color: #fff;
  font-size: 15px;
  margin-bottom: 25px;
}
.social-items{
  padding: 0px;
  margin-bottom: 15px;
}

 ul.social-items li {
  color: #fff;
   display: inline-block;
   padding-right:  30px;

}

 ul.social-items li a{
  color: #00b1ec;
}


/*iconos sociales*/
.social-iconos{
  margin-left: -30px;
      margin-top: 15px;
}
.social-iconos ul li {
    display: inline-block;
    padding-right: 16px;
}



.icono-footer{
    padding-bottom: 30px;
    padding-top: 20%;
}
.circulo-social{
    border-radius: 50%;
    height: 60px;
    width: 60px;
    border: 8px solid #36a9e1;
    color: #fff;
    text-align: center;
    font-size: 10px;
}

/*counter*/

.seats-num{
  display: inline-block;
}
.count-nbr{

  display: inline-block;
  margin-bottom: 30px;
  
  font-size: 45px;
  font-weight: lighter;
  color: #ececec;
}



.count-1{
      color: #cbce5a!important;
  }

.count-2{
      color: #4be7fb!important;
  }
.count-3{
      color: #ec6868!important;
  }
/*---------------------------------------*/
/*why success*/
.titlewhy{
    color:#333;
    font-size: 30px;
    margin-bottom: 40px;
}

.jumbotron p{
  text-align: center!important;
}


@media (max-width: 720px) {
  .formulario{
      background-color: rgb(0,80,110);
      margin: 5%;
      padding: 5%;

  }

    .contenido-izq{
      /*height: 200px;*/
      height: auto;
      margin-top: 0px;
      margin-left: 20px;
  }
}

@media (max-width: 768px) {

  #navbar{
     background-color: rgb(59,55,87)!important;
    opacity: 1;
  }
  .collapse>ul>li {
      padding-top: 16px;
       display: block; 
       padding-left: 0px!important; 
  }
  .formulario{
      margin: 0%;
  }

  .titlewhy{
      color:#333;
      font-size: 25px;
      margin-bottom: 35px;
      text-align: center;
  }

  .jumbotron p{
    text-align: center!important;
        font-size: 15px;
  }
}

