{% extends "layout.html" %}
{% import "macros/utils.html" as utils with context %}
{% block title %}{{ data.page.title }}{% endblock %}

{% block main %}

 <!-- Main jumbotron for a primary marketing message or call to action -->
  <header class="v-header container-c">
    <div class="fullscreen-video-wrap">
      <img src="./img/rawpixel-620232-unsplash.jpg" style="max-height: auto; max-width: 100%;">
    </div>
    <div class="header-content">
      <h1>Blog</h1>
    </div>
  </header>
  

  <section class="main container">
    <div class="row">
      <section class="posts col-md-8 col-sm-6">

      <!-- Article beggin -->
      {% for piece in data.pieces %}

        <article class="post clearfix">
     
          <h2 class="post-title">
            <a href="{{ piece._url }}">{{ piece.title }}</a>
          </h2>

            <a href="#" class="thumb pull-left">
              <img class="img-thumbnail" src="http://placehold.it/900x400" alt="">
            </a>      
  
          <p class="text-justify">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
            consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
            cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
            proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
          </p>

          <div class="footer-articulo">
            <p><span class="post-fecha">
              {{ piece.publishedAt | date('MMMM Do, YYYY') }}
            </span></p>

            <span>
                <a href="{{ piece._url }}">Read more ></a>
            </span>         
          </div>

        </article>
      {% endfor %}

      </section>

      <aside class="col-md-4  col-sm-12">
        <h4>- RELATED ARTICLES</h4>  
        <div class="related-articles">
          {% for piece in data.pieces %}

            <div class="row article-col">
              <div class="col-md-6 col-sm-12 col-xs-12 row-zero-padding center-image">
                <a href="{{ piece._url }}" class="thumb pull-left">
                  <img class="img-thumbnail" src="http://placehold.it/150x160" alt="">
                </a>
              </div>
              <div class="col-md-6 col-sm-12 col-xs-12 row-limit-padding">
                <p class="title-relateds">{{ piece.title }}</p>
                <p class="text-justify">
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                  tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                  quis nostrud exercitation ullamco laboris.
                </p>
              </div>
            </div>
          
          {% endfor %}
  
        </div>       
      </aside>  

    </div>
  </section>
{% endblock %}
