{% extends data.outerLayout %}
{% block title %}{{ data.piece.title }}{% endblock %}

{% block main %}
  <div class="apos-event-preview">
    <h3 class="apos-event-title">{{ data.piece.title }}</h3>
    <h4>{{ data.piece.body }}</h4>
    <h5 class="apos-event-date">{{ data.piece.publishedAt | date('MMMM Do') }} at {{ data.piece.publishedAt | date('h:mma') }}</h5>
  </div>
{% endblock %}
<h3 class="apos-event-title">{{ data.piece.title }}</h3>