{#
  This is an example home page template. It inherits and extends a layout template
  that lives in the top-level views/ folder for convenience
#}

{% extends "layout.html" %}
{% import "macros/utils.html" as utils with context %}

{% block main %}

  <!-- Main jumbotron for a primary marketing message or call to action -->
  <header class="v-header container-c">
    <div class="fullscreen-video-wrap">
        <div id="particles-js"></div>
        <video autoplay muted loop >
          <source src="./video/Home_work.mp4" type="video/mp4">
          Your browser does not support HTML5 video
        </video>
    </div>
    <div class="header-overlay"></div>
    <div class="header-content">
      <h1>Customer Success Management</h1>
      <p>Made Simple, Afforddable with Augmented Intelligence</p>
      <a class="btn btn-try">Try It</a>
    </div>
  </header>

  <section class="section section-a">
    <div class="container-c">
      {{ apos.singleton(data.page, 'textBlock', 'apostrophe-rich-text', { 
        toolbar: ['Styles', 'Bold', 'Link'], 
        styles: [{ name: 'Title', element: 'h2' }] 
      })  }}
      <hr class="separador">

      <div class="container space-a">
        {{ utils.rows() }}
      </div>

    </div>
  </section>
      
  <div class="pimg2">
    <div class="ptext">
      <span class="border trans">
        {{ apos.singleton(data.page, 'textBlock_2', 'apostrophe-rich-text', { 
          toolbar: ['Styles', 'Bold', 'Link']
        })  }}
      </span>
      <hr class="separador">
      <div class="container pimg2-subtitle">

        <div class="col-md-4">
          {{ apos.singleton(data.page, 'subtitle_1', 'apostrophe-rich-text', { 
            toolbar: ['Styles', 'Bold'],
            styles:  [ { name: 'Subtitle', element: 'h2', attributes: { 'id': 'pimg2-sub-desc-1' } } ]
          })  }}
          {{ apos.singleton(data.page, 'subtitle_sub_1', 'apostrophe-rich-text', { 
            toolbar: ['Styles', 'Bold', 'Link'],
            styles:  [ { name: 'pimg2-desc', element: 'p', attributes: { 'class': 'pimg2-desc' } } ]
          })  }}
        </div>
    
        <div class="col-md-4">
          {{ apos.singleton(data.page, 'subtitle_2', 'apostrophe-rich-text', { 
            toolbar: ['Styles', 'Bold'],
            styles:  [ { name: 'Subtitle', element: 'h2', attributes: { 'id': 'pimg2-sub-desc-2' } } ]
          })  }}
          {{ apos.singleton(data.page, 'subtitle_sub_2', 'apostrophe-rich-text', { 
            toolbar: ['Styles', 'Bold', 'Link'],
            styles:  [ { name: 'pimg2-desc', element: 'p', attributes: { 'class': 'pimg2-desc' } } ]
          })  }}
        </div>
    
        <div class="col-md-4">
          {{ apos.singleton(data.page, 'subtitle_3', 'apostrophe-rich-text', { 
            toolbar: ['Styles', 'Bold'],
            styles:  [ { name: 'Subtitle', element: 'h2', attributes: { 'id': 'pimg2-sub-desc-3' } } ]
          })  }}
          {{ apos.singleton(data.page, 'subtitle_sub_3', 'apostrophe-rich-text', { 
            toolbar: ['Styles', 'Bold', 'Link'],
            styles:  [ { name: 'pimg2-desc', element: 'p', attributes: { 'class': 'pimg2-desc' } } ]
          })  }}
        </div>
      </div>
    </div>
  </div>

  <section class="section section-b">
    <div class="container-c">

      <div class="row">
        <div class="col-md-6 cuadro cuadro-1">
          <h2>Lorem ipsum</h2>
          <p>Lorem ipsum dolor sit amet.</p>
        </div>
        <div class="col-md-6 cuadro cuadro-2">
          <h2>Lorem ipsum</h2>
          <p>Lorem ipsum dolor sit amet.</p>
        </div>
      </div>
  
      <div class="row">
        <div class="col-md-6 cuadro cuadro-3">
          <h2>Lorem ipsum</h2>
          <p>Lorem ipsum dolor sit amet.</p>
        </div>
        <div class="col-md-6 cuadro cuadro-4">
          <h2>Lorem ipsum</h2>
          <p>Lorem ipsum dolor sit amet.</p>
        </div>
      </div>

    </div>
  </section>

      

  
{% endblock %}