{% extends "layout.html" %}
{% block beforeMain %}
  <nav class="navbar  navbar-fixed-top myNav justify-content-end" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">Project name</a>
      </div>
      <div class="collapse navbar-collapse " id="navbar">
          <ul class="nav navbar-nav navbar-right nav-items">
            <li ><a href="#">Home </a></li>
            <li><a href="#">Products / Features</a></li>
            <li><a href="#">Company</a></li>
            <li><a href="#">Why Success?</a></li>
            <li><a href="#">Blog</a></li>
            <li>
                <a href="#" class="btn-demo">DEMO</a>
            </li>
          </ul>
      </div><!-- /.navbar-collapse -->
    </div>
  </nav>
{% endblock %}

{% block main %}
  <div class="main-content">
    {{ apos.area(data.page, 'body', {
      widgets: {
        'apostrophe-rich-text': {
          toolbar: [ 'Bold', 'Italic' ]
        },
        'apostrophe-images': {
          size: 'full'
        }
      }
    }) }}
  </div>
{% endblock %}