{% import "macros/utils.html" as utils %}
<div class="row">
  <div class="col-md-6">
    <div class="icono">
      <i class="icono-su">
        {{ utils.icon(data.widget, 'icon', 'one-sixth') }} 
      </i>
    </div>
    <div class="subtitulo">
      {{ utils.subtitle(data.widget, 'subtitle') }}
    </div> 
    <div class="description">
      {{ utils.description(data.widget, 'description') }}
    </div>
  </div>
  <div class="col-md-6">
      <div class="icono">
        <i class="icono-su">
          {{ utils.icon(data.widget, 'icon2', 'one-sixth') }}  
        </i>
      </div>
      <div class="subtitulo">
        {{ utils.subtitle(data.widget, 'subtitle2') }}
      </div>
      <div class="description">
        {{ utils.description(data.widget, 'description2') }}
      </div>
  </div>
</div>